/* Styles communs à tous les fichiers HTML */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  scroll-behavior: smooth;
  background-color: #f0f4f8; /* Fond gris bleu clair */
  color: #1e293b;
}

/* Styles généraux du header sans image de fond */
header {
  background-color: #1e3a8a; /* Bleu clair doux */
  color: white;
  padding: 4rem 2rem;
  text-align: center;
  position: relative;
}

/* Images centrées avec marges verticales */
.image-center {
  display: block;   
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;   /* Espace avant l'image */
  margin-bottom: 20px; /* Espace après l'image */
  max-width: 100%;
  height: auto;
}

nav {
  background-color: #1e3a8a;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 0;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s;
}

nav a:hover {
  color: #0f172a;
}

/* Sections centrées avec espacements contrôlés */
section {
  padding: 4rem 2rem;
  max-width: 1000px;
  margin: 1rem auto 0.5rem auto;
  background-color: transparent;
  border: 2px solid #070707; /* Bordure bleue autour de chaque section */
}

h2 {    
  border-bottom: 2px solid #cfe2f3;
  padding-bottom: 0.5rem;
  text-align: center;
  color: #1e3a8a;
}

footer {
  background-color: #1e3a8a;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 3rem;
}

.lang-switch {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  display: flex;
  gap: 1rem;
}

.lang-switch button {
  background-color: #dbeafe;
  color: #1e3a8a;
  padding: 0.7rem 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  border: none;
  transition: background-color 0.3s;
}

.lang-switch button:hover {
  background-color: #60a5fa;
  color: white;
}

.lang {
  display: none;
}

.lang.active {
  display: block;
}

/* Styles pour le bouton de téléchargement du CV */
.button {
  display: inline-block;
  background-color: #60a5fa;
  color: white;
  padding: 0.7rem 1.5rem;
  border-radius: 8px;
  text-decoration: none;
  margin-top: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #3b82f6;
}

/* Bouton retour au portfolio */
.back-to-portfolio {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1000;
  display: flex;
}

.back-to-portfolio button {
  background-color: #dbeafe;
  color: #1e3a8a;
  padding: 0.7rem 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  border: none;
  transition: background-color 0.3s;
}

.back-to-portfolio button:hover {
  background-color: #60a5fa;
  color: white;
}
